<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46145425096-g9d825qhi6ljmfoc5li8no1plpunijts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46145425096-g9d825qhi6ljmfoc5li8no1plpunijts</string>
	<key>API_KEY</key>
	<string>AIzaSyBhl1DHXEN6PJkIpRYi95QQ_AAAc391WmU</string>
	<key>GCM_SENDER_ID</key>
	<string>46145425096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.shvetsov.dls-one-mac</string>
	<key>PROJECT_ID</key>
	<string>dls-one</string>
	<key>STORAGE_BUCKET</key>
	<string>dls-one.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46145425096:ios:5fcc8ac594b73d8ce91ffd</string>
</dict>
</plist>